body{
    background-color
    :
    #f0f0f0;
}
.Edu-honey{
    background-color: 
    #cec0fc;
    border: 10px solid #576CBC ;
    padding: 90px;
    padding-top: 30px;
    padding-bottom: 155px;
    margin: 20px 10px;   
    font-size: x-large;
}    
